@{
    ViewBag.Title = "Carpooling";
}

<div class="notifications">
    <h2>Notifications</h2>
    <ul data-role="listview">
        <li>Driver found for your trip on 21/09/2014.</li>
    </ul>
</div>

<div class="trips">
    <h2>Trips</h2>
    <ul data-role="listview">
        <li>Going to Schiphol on 21/09/2014.</li>
        <li>Returning from Schiphol on 24/09/2014.</li>
    </ul> 
    <p>@Html.ActionLink("New trip", "NewTrip", "Home", null, new { @data_role = "button" })</p>
    <p>@Html.ActionLink("Trip history", "TripHistory", "Home", null, new { @data_role = "button" })</p>
    <p>@Html.ActionLink("Profile", "UserProfile", "Account", routeValues: null, htmlAttributes: new { data_icon = "gear" })</p>
</div>
