
@if (Request.IsAuthenticated)
{
 @Html.ActionLink(User.Identity.Name, "Index", "User", new { id = @User.Identity.Name }, htmlAttributes: new { data_icon = "gear" })
}
else
{
 @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { data_icon = "gear" })
}

<a href="javascript:history.back()" data-icon="arrow-l">Back</a>
<div>
    @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { data_icon = "home",  })
</div>


